<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title> -->
  <title>TopTomato</title>
   <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="row main">
  	<div class="large-8 columns">
      <div class="row">
        <div class="large-8 columns">
			    <div class="large-6 columns"><h2>Top Tomato</h2></div>
            <div class="large-6 columns logo"><img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRrxyjP9J068l1I7woJoGvLeIKyBXxCw6TuQ2lPOet0J9bev3hxgw"></div>
            </div>
  		    </div>
  	    </div>
		<div class="large-4 columns">
			<ul>
				<div class="button-group">
					<li><%= link_to "Sign in", new_user_session_path, class: "button"%></li>  
					<li><%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "button" %></li>
				</div>
			</ul>
		</div>
	</div>

	<div>
	
	<%= yield %>
 
	</div> 		

</body>
</html>
