<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title> -->
  <title>TopTomato</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
   <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>
</head>
<body>

  <div class="row main">
  	<div class="large-8 columns">
      <div class="row">
        <div class="large-8 columns">
			    <div class="large-6 columns"><h2>Top Tomato</h2></div>
            <div class="large-6 columns logo"><%= image_tag "tomato.png"%></div>
            </div>
  		    </div>
  	    </div>
		<div class="large-4 columns">
			<ul>
				<div class="button-group">
          <% if !user_signed_in? %>
					 <%= link_to "Sign in", new_user_session_path, class: "button"%>
           <%= link_to "Register", new_user_registration_path, class: "button" %>
           <% else %>
					<%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "button" %>
          <% end %>
				</div>
			</ul>
		</div>
	</div>

	<div>
	
	<%= yield %>
 
	</div> 		

</body>
</html>
